@import '../universal/colors';
@import '../universal/fonts';
@import '../universal/spacing';

.api-description-container {
  width: 55%;

  .api-description {
    padding-right: 100px;
  }
}

.api-code-container {
  position: absolute;
  right: 0;
  width: 45%;

  .api-code {
    padding: 0 $spacing-large;
    overflow-x: auto;

    pre {
      background-color: inherit !important;
      padding-left: 0 !important;
      padding-top: 0 !important;
    }
  }

  .api-caption {
    padding: 0 $spacing-large;
    overflow-x: auto;
  }
}

.api-inline-code {
  background-color: $darker-blue;
  color: $gray-20;
  font-family: source-code-pro-medium, monospace;
  font-size: $iota;
  padding: $spacing-default;
}

.api-code-column {
  background-color: $darker-blue;
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.api-language-selector {
  background-color: $darker-blue;
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  z-index: 1;
}
