{
  "sentry_server_dsn": null,
  "recaptcha_secret_key": null,
  "database": {
    "host": "localhost",
    "name": "linkr",
    "user": "linkr",
    "password": "password"
  },
  "redis": {
    "host": "localhost",
    "port": 6379
  }
}
