# IDE
.idea

# Build artifacts
.sass-cache/
.coverage
coverage/
frontend/static/dist/
*.pyc

# External dependencies
node_modules/
env/
*.db

# User-overriden config
config/options/client.json
config/options/server.json
config/secrets/client.json
config/secrets/server.json

# Other
npm-debug.log
*.swp
