$black: #000;
$gray-90: #191919;
$gray-80: #333;
$gray-70: #4d4d4d;
$gray-60: #666;
$gray-50: #808080;
$gray-30: #b3b3b3;
$gray-20: #ccc;
$gray-10: #e6e6e6;
$white: #fff;

$green: #388e3c;
$red: #d32f2f;
$blue: #03a9f4;

.bg-black {
  background-color: $black !important;
}

.bg-gray-90 {
  background-color: $gray-90 !important;
}

.bg-gray-80 {
  background-color: $gray-80 !important;
}

.bg-gray-70 {
  background-color: $gray-70 !important;
}

.bg-gray-30 {
  background-color: $gray-30 !important;
}

.bg-gray-20 {
  background-color: $gray-20 !important;
}

.bg-gray-10 {
  background-color: $gray-10 !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-blue {
  background-color: $blue !important;
}

.text-gray-80 {
  color: $gray-80 !important;
}

.text-gray-70 {
  color: $gray-70 !important;
}

.text-gray-60 {
  color: $gray-60 !important;
}

.text-gray-50 {
  color: $gray-50 !important;
}

.text-gray-30 {
  color: $gray-30 !important;
}

.text-gray-20 {
  color: $gray-20 !important;
}

.text-gray-10 {
  color: $gray-10 !important;
}

.text-white {
  color: $white !important;
}

.text-green {
  color: $green !important;
}

.text-red {
  color: $red !important;
}

.text-blue {
  color: $blue !important;
}
