@import 'colors';

$alpha: 60px;
$beta: 54px;
$delta: 36px;
$epsilon: 24px;
$gamma: 18px;
$iota: 14px;
$kilo: 10px;

@font-face {
  font-family: 'karla-regular';
  src: url('/static/fonts/karla-regular.ttf');
}

@font-face {
  font-family: 'karla-italic';
  src: url('/static/fonts/karla-italic.ttf');
}

@font-face {
  font-family: 'karla-bold';
  src: url('/static/fonts/karla-bold.ttf');
}

.sans-serif {
  font-family: karla-regular, sans-serif !important;

  &.italic {
    font-family: karla-italic, sans-serif !important;
  }

  &.bold {
    font-family: karla-bold, sans-serif !important;
  }
}

.alpha {
  font-size: $alpha !important;
}

.beta {
  font-size: $beta !important;
}

.delta {
  font-size: $delta !important;
}

.epsilon {
  font-size: $epsilon !important;
}

.gamma {
  font-size: $gamma !important;
}

.iota {
  font-size: $iota !important;
}

.kilo {
  font-size: $kilo !important;
}
