$spacing-default: 24px;
$spacing-tiny: 6px;
$spacing-small: 12px;
$spacing-large: 36px;
$spacing-huge: 50px;

/* Top margin */

.margin--top {
  margin-top: $spacing-default !important;
}

.margin-huge--top {
  margin-top: $spacing-huge !important;
}

.margin-large--top {
  margin-top: $spacing-large !important;
}

.margin-small--top {
  margin-top: $spacing-small !important;
}

.margin-tiny--top {
  margin-top: $spacing-tiny !important;
}

/* Bottom margin */

.margin--bottom {
  margin-bottom: $spacing-default !important;
}

.margin-huge--bottom {
  margin-bottom: $spacing-huge !important;
}

.margin-large--bottom {
  margin-bottom: $spacing-large !important;
}

.margin-small--bottom {
  margin-bottom: $spacing-small !important;
}

.margin-tiny--bottom {
  margin-bottom: $spacing-tiny !important;
}

/* Right margin */

.margin--right {
  margin-right: $spacing-default !important;
}

.margin-huge--right {
  margin-right: $spacing-huge !important;
}

.margin-large--right {
  margin-right: $spacing-large !important;
}

.margin-small--right {
  margin-right: $spacing-small !important;
}

.margin-tiny--right {
  margin-right: $spacing-tiny !important;
}

/* Left margin */

.margin--left {
  margin-left: $spacing-default !important;
}

.margin-huge--left {
  margin-left: $spacing-huge !important;
}

.margin-large--left {
  margin-left: $spacing-large !important;
}

.margin-small--left {
  margin-left: $spacing-small !important;
}

.margin-tiny--left {
  margin-left: $spacing-tiny !important;
}
