$default-spacing: 24px;
$tiny-spacing: 6px;
$small-spacing: 12px;
$large-spacing: 36px;

.margin--top {
  margin-top: $default-spacing !important;
}

.margin-large--top {
  margin-top: $large-spacing !important;
}

.margin-tiny--bottom {
  margin-bottom: $tiny-spacing !important;
}

.margin-small--bottom {
  margin-bottom: $small-spacing !important;
}

.margin--bottom {
  margin-bottom: $default-spacing !important;
}

.margin-large--bottom {
  margin-bottom: $large-spacing !important;
}

.margin-tiny--right {
  margin-right: $tiny-spacing !important;
}

.margin-small--right {
  margin-right: $small-spacing !important;
}

.margin--right {
  margin-right: $default-spacing !important;
}

.margin-large--right {
  margin-right: $large-spacing !important;
}

.margin-small--left {
  margin-left: $small-spacing !important;
}

.margin--left {
  margin-left: $default-spacing !important;
}

.pad--all {
  padding: $default-spacing !important;
}
